In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.preprocessing import StandardScaler

from sklearn import svm
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report


from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split, cross_val_score

In [2]:
from google.colab import files
uploaded = files.upload()

Saving SalaryData_Train.csv to SalaryData_Train.csv

In [3]:
import io
train_data = pd.read_csv(io.StringIO(uploaded['SalaryData_Train.csv'].decode('utf-8')))

In [4]:
train_data.head()

   age          workclass   education  ...  hoursperweek          native  Salary
0   39          State-gov   Bachelors  ...            40   United-States   <=50K
1   50   Self-emp-not-inc   Bachelors  ...            13   United-States   <=50K
2   38            Private     HS-grad  ...            40   United-States   <=50K
3   53            Private        11th  ...            40   United-States   <=50K
4   28            Private   Bachelors  ...            40            Cuba   <=50K

[5 rows x 14 columns]

In [5]:
train_data.describe()

                age   educationno   capitalgain   capitalloss  hoursperweek
count  30161.000000  30161.000000  30161.000000  30161.000000  30161.000000
mean      38.438115     10.121316   1092.044064     88.302311     40.931269
std       13.134830      2.550037   7406.466611    404.121321     11.980182
min       17.000000      1.000000      0.000000      0.000000      1.000000
25%       28.000000      9.000000      0.000000      0.000000     40.000000
50%       37.000000     10.000000      0.000000      0.000000     40.000000
75%       47.000000     13.000000      0.000000      0.000000     45.000000
max       90.000000     16.000000  99999.000000   4356.000000     99.000000

In [6]:
train_data.skew()

age              0.530180
educationno     -0.305378
capitalgain     11.902483
capitalloss      4.528238
hoursperweek     0.330856
dtype: float64

In [7]:
train_data.isnull().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

In [8]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
train_data['workclass']= label_encoder.fit_transform(train_data['workclass']) 
train_data['education']= label_encoder.fit_transform(train_data['education']) 
train_data['maritalstatus']= label_encoder.fit_transform(train_data['maritalstatus'])
train_data['occupation']= label_encoder.fit_transform(train_data['occupation']) 
train_data['relationship']= label_encoder.fit_transform(train_data['relationship']) 
train_data['race']= label_encoder.fit_transform(train_data['race'])
train_data['sex']= label_encoder.fit_transform(train_data['sex']) 
train_data['native']= label_encoder.fit_transform(train_data['native']) 
train_data['Salary']= label_encoder.fit_transform(train_data['Salary'])
train_data.head()

   age  workclass  education  ...  hoursperweek  native  Salary
0   39          5          9  ...            40      37       0
1   50          4          9  ...            13      37       0
2   38          2         11  ...            40      37       0
3   53          2          1  ...            40      37       0
4   28          2          9  ...            40       4       0

[5 rows x 14 columns]

In [9]:
array = train_data.values
X_train = array[:,0:-1]
Y_train= array[:,-1]

### TESTING DATA

In [10]:
from google.colab import files
uploaded = files.upload()

Saving SalaryData_Test.csv to SalaryData_Test.csv

In [11]:
import io
test_data = pd.read_csv(io.StringIO(uploaded['SalaryData_Test.csv'].decode('utf-8')))

In [12]:
test_data.head()

   age   workclass      education  ...  hoursperweek          native  Salary
0   25     Private           11th  ...            40   United-States   <=50K
1   38     Private        HS-grad  ...            50   United-States   <=50K
2   28   Local-gov     Assoc-acdm  ...            40   United-States    >50K
3   44     Private   Some-college  ...            40   United-States    >50K
4   34     Private           10th  ...            30   United-States   <=50K

[5 rows x 14 columns]

In [13]:
test_data.describe()

                age   educationno   capitalgain   capitalloss  hoursperweek
count  15060.000000  15060.000000  15060.000000  15060.000000  15060.000000
mean      38.768327     10.112749   1120.301594     89.041899     40.951594
std       13.380676      2.558727   7703.181842    406.283245     12.062831
min       17.000000      1.000000      0.000000      0.000000      1.000000
25%       28.000000      9.000000      0.000000      0.000000     40.000000
50%       37.000000     10.000000      0.000000      0.000000     40.000000
75%       48.000000     13.000000      0.000000      0.000000     45.000000
max       90.000000     16.000000  99999.000000   3770.000000     99.000000

In [14]:
test_data.skew()

age              0.536112
educationno     -0.320999
capitalgain     11.570156
capitalloss      4.496738
hoursperweek     0.359502
dtype: float64

In [15]:
test_data.isnull().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

In [16]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
test_data['workclass']= label_encoder.fit_transform(test_data['workclass']) 
test_data['education']= label_encoder.fit_transform(test_data['education']) 
test_data['maritalstatus']= label_encoder.fit_transform(test_data['maritalstatus'])
test_data['occupation']= label_encoder.fit_transform(test_data['occupation']) 
test_data['relationship']= label_encoder.fit_transform(test_data['relationship']) 
test_data['race']= label_encoder.fit_transform(test_data['race'])
test_data['sex']= label_encoder.fit_transform(test_data['sex']) 
test_data['native']= label_encoder.fit_transform(test_data['native']) 
test_data['Salary']= label_encoder.fit_transform(test_data['Salary'])
test_data.head()

   age  workclass  education  ...  hoursperweek  native  Salary
0   25          2          1  ...            40      37       0
1   38          2         11  ...            50      37       0
2   28          1          7  ...            40      37       1
3   44          2         15  ...            40      37       1
4   34          2          0  ...            30      37       0

[5 rows x 14 columns]

In [17]:
array = test_data.values
X_test = array[:,0:-1]
Y_test= array[:,-1]

### GRID SEARCH CV

In [18]:
kernel=['rbf']
gamma=[5,10,0.5]
C=[10,0.1,0.001]
param_grids = dict(kernel=kernel,gamma=gamma,C=C)

In [19]:
from sklearn.model_selection import KFold
clf = SVC()
gsv = GridSearchCV(clf,param_grids,cv=KFold())
gsv.fit(X_train,Y_train)

GridSearchCV(cv=KFold(n_splits=5, random_state=None, shuffle=False),
             error_score=nan,
             estimator=SVC(C=1.0, break_ties=False, cache_size=200,
                           class_weight=None, coef0=0.0,
                           decision_function_shape='ovr', degree=3,
                           gamma='scale', kernel='rbf', max_iter=-1,
                           probability=False, random_state=None, shrinking=True,
                           tol=0.001, verbose=False),
             iid='deprecated', n_jobs=None,
             param_grid={'C': [10, 0.1, 0.001], 'gamma': [5, 10, 0.5],
                         'kernel': ['rbf']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [20]:
gsv.best_params_ , gsv.best_score_

({'C': 10, 'gamma': 0.5, 'kernel': 'rbf'}, 0.7639998410598473)

In [21]:
clf = SVC(C= 10, gamma = 0.5)
clf.fit(X_train , Y_train)
y_pred = clf.predict(X_test)
acc = accuracy_score(Y_test, y_pred) * 100
print("Accuracy =", acc)
confusion_matrix(Y_test, y_pred)

Accuracy = 77.21779548472776

array([[10761,   599],
       [ 2832,   868]])

### We get accuracy of 77.21%